!Norwind:

А у вас огромные способности. Мне очень жаль, что я не признал этого раньше. Я думал, что вы любитель без навыков, который просто зависит от Rosella... Полагаю, я был неправ.

<font color="LEVEL">Благородный Аметист</font> может быть создан дуновение ветра жизни в двух направлениях. Ветер жизни ничто иное как дыхание Эльфов. Унаследовав силу жизни от Материнского Дерева, наше дыхание содержтиь даже первобытную силу.

А сейчас..! Вот, я сделал <font color="LEVEL">Благородный Аметист</font>. Отнесите его к <font color="LEVEL">Rosella.</font>