!Rosella:

Ох! Вы собрали все драгоценные камни! Теперь мы сможем начать ритуал.

Вода - источник жизни. Мать и вечность. Омойте наши запятнанные души слезами Евы, чистейшими, чем что-либо в мире, и получите ваше новое благословение...

Итак, вы прошли ритуал и заработали квалификацию, позволяющую стать Эльфийским волшебником. Вот, возьмите эти<font color="LEVEL"> eternity diamond.</font> Если вы отдатите их <font color="LEVEL">High Priest Raymond в Глудио,</font> он изменить вашу специальность на Эльфийского волшебника. Конечно же, вы можете также пойти к<font color="LEVEL"> High Priestess Levian в Глудине</font>.
