<center>Статистика Рейд Боссов</center>
<img src=L2UI.SquareWhite width=450 height=1>
<table width=450 bgcolor=CCCCCC>
<tr>
<td width=230>Имя</td>
<td width=70>Уровень</td>
<td width=100>Статус</td>
<td width=200>Дата появления</td>
</tr>
</table>
<img src=L2UI.SquareWhite width=450 height=1>
<table width=450>