﻿!Fishermen's Guild Member O'Fulle:

Вы принесли семена? Пусть это и не все, но Вы просто молодец! За Ваше старание я сделаю для Вас свою Bait of Chill. Для этого я использую <font color="LEVEL">магию холода</font>.
 Пожалуйста, отдайте мне <font color="LEVEL">100 Bait Materials</font>, которые Вы нашли.

[Quest _051_OFullesSpecialBait 31572-07.htm|"Отдать 100 Bait Materials"]
