<table border=0 cellspacing=0 cellpadding=5 WIDTH=755>
<tr>
<td FIXWIDTH=5></td>
<td FIXWIDTH=500><a action="bypass _mmread %memo_id% %page%">%memo_title%</a></td>
<td FIXWIDTH=145 align=center></td>
<td FIXWIDTH=75 align=center>%memo_date%</td>
</tr>
</table>
<img src="L2UI.Squaregray" width="755" height="1">