<br><img src="L2UI.SquareGray" width=770 height=2><br>
<table width=770 border=0 cellspacing=0 cellpadding=0>
	<tr>
		<td align=center FIXWIDTH=755 height=30><font color=FFFF00>Scryde Fun&PvP - это твой выбор!</font></td>
	</tr>
</table>