<center>
	<table>
		<tr>
			<td><button value="Магазин" action="bypass -h _bbstop" width=70 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
			<td><button value="Баффер" action="bypass -h _bbsbuff;" width=70 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
			<td><button value="Телепорт" action="bypass -h _bbsteleport;" width=70 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
			<td><button value="Карьера" action="bypass -h _bbsclass" width=70 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
			<td><button value="Сервис" action="bypass -h _bbstop;40" width=70 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
			<td><button value="Крафт" action="bypass -h _bbstop;craft" width=70 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
			<td><button value="Статистика" action="bypass -h _bbstop;40"      width=70 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
			<td><button value="События" action="bypass _bbstop;event_new" width=70 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
			<td><button value="Справка" action="bypass _bbstop;502" width=70 height=25 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
		</tr>
	</table>
</center>