﻿!Кецерус:
Передайте эту рекомендацию <font color="LEVEL">Сержанту Аленосу</font> внутри Семени Разрушения. От него Вы получите обещаную награду и <font color="LEVEL">важную миссию</font>.
Если хотите получить летающий аппарат, то отправляйтесь к <font color="LEVEL">Инженеру Лекону</font>, находящемуся на 6 часах от этого места, и выполните простой квест, либо обратитесь к стоящему рядом с ним <font color="LEVEL">Толлонису</font> и купите свиток превращения.