<center>
<table width=260>
<tr>
<td width=40>
<button value="Main" action="bypass -h admin_admin" width=40 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
</td>
<td width=180>
<center>Play Songs Page 2</center>
</td>
<td width=40>
<button value="Back" action="bypass -h admin_show_html songs/songs.htm" width=40 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"><br>
<button value="Next" action="bypass -h admin_show_html songs/songs3.htm" width=40 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
</td>
</tr>
</table><br>
<center>
<table width=240>
	<tr>
		<td>
		<button value="Aden Castle Town" action="bypass -h admin_play_sound nt_aden" width=100 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
		<td>
		<button value="Human Village" action="bypass -h admin_play_sound nt_speaking" width=85 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
	</tr>
	<tr>
		<td>
		<button value="Dion Castle Town" action="bypass -h admin_play_sound nt_dion" width=100 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
		<td>
		<button value="Elven Village" action="bypass -h admin_play_sound nt_elf" width=85 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
	</tr>
	<tr>
		<td>
		<button value="Heine Castle Town" action="bypass -h admin_play_sound nt_heiness" width=100 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
		<td>
		<button value="Dark Elf Village" action="bypass -h admin_play_sound nt_darkelf" width=85 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
	</tr>
	<tr>
		<td>
		<button value="Giran Castle Town" action="bypass -h admin_play_sound nt_giran" width=100 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
		<td>
		<button value="Orc Village" action="bypass -h admin_play_sound nt_orc" width=85 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
	</tr>
	<tr>
		<td>
		<button value="Gludio Castle Town" action="bypass -h admin_play_sound nt_gludio" width=100 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
		<td>
		<button value="Dwarf Village" action="bypass -h admin_play_sound nt_dwarf" width=85 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
	</tr>
	<tr>
		<td>
		<button value="Gludin Castle Town" action="bypass -h admin_play_sound nt_gludin" width=100 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
	</tr>
	<tr>
		<td>
		<button value="Floren Village" action="bypass -h admin_play_sound nt_floren" width=100 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
	</tr>
	<tr>
		<td>
		<button value="Hunters Village" action="bypass -h admin_play_sound nt_hunters" width=100 height=15 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
	</tr>
</table>
</center>