﻿<center><img src="L2UI_CH3.herotower_deco" width=256 height=32><br>
<font color="aadd77">Замок Gludio]
<img src="L2UI.SquareWhite" width=260 height=1>
<img src="L2UI.SquareBlank" width=260 height=4><br1>
<table width=256>
<tr><td><center>[admin_move_to -18300 114460 -2775|<button value="Центральные Ворота" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -18135 112010 -2740|<button value="Двор" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -18350 112800 -2380|<button value="Стена над воротами" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -18110 108815 -2475|<button value="Трон" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -18117 108111 -2445|<button value="Артефакт" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -18115 108145 -2040|<button value="2ой этаж" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -19400 108145 -2050|<button value="Балкон" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -18040 107070 -2380|<button value="Задняя стена" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
</table><br>
<img src="L2UI.SquareWhite" width=260 height=1>
<img src="L2UI.SquareBlank" width=260 height=4>
<br>
[admin_show_html tele/castles/castles.htm|<button value="Назад" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
</center>