﻿!Tyron:

You are registered on the defending party of the lock %castlename% .

You are assured that wish to continue?

<table>
<tr><td><button value="Yes" action="bypass -h npc_%objectId%_siege_attacker_signup 1" width=40 height=15 back="L2UI_CT1.Button_DF" fore="L2UI_CT1.Button_DF"></td>
<td><button value="No" action="bypass -h npc_%objectId%_requestservice 1" width=40 height=15 back="L2UI_CT1.Button_DF" fore="L2UI_CT1.Button_DF"></td></tr>
</table>