﻿!Сэр Холмес:

Вы регистрируетесь на обороняющей стороне замка %castlename% .

Вы уверены что хотите продолжить?

<table>
<tr><td><button value="Да" action="bypass -h npc_%objectId%_siege_defender_signup 3" width=40 height=15 back="L2UI_CT1.Button_DF" fore="L2UI_CT1.Button_DF"></td>
<td><button value="Нет" action="bypass -h npc_%objectId%_requestservice 3" width=40 height=15 back="L2UI_CT1.Button_DF" fore="L2UI_CT1.Button_DF"></td></tr>
</table>