<img src="L2UI_CH3.herotower_deco" width=256 height=32><br>
<font color="aadd77">Oren Castle Town</font>
<img src="L2UI.SquareWhite" width=260 height=1>
<img src="L2UI.SquareBlank" width=260 height=4><br1>
<table width=256>
<tr><td><center>[admin_move_to 82321 55139 -1529|<button value="Broadcasting Tower / Center" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to 79297 53618 -1550|<button value="Weapons and Armor Shop" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to 79581 54930 -1551|<button value="Grocery Shop" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to 83666 55537 -1516|<button value="Blacksmith Shop" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to 81660 54855 -1514|<button value="Warehouse" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to 83656 56079 -1529|<button value="Orc Guild" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to 83189 54961 -1515|<button value="Dark Elven Guild" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to 79288 56771 -1516|<button value="Warrior Guild" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to 83432 54466 -1551|<button value="Kamael Guild" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to 83636 53103 -1461|<button value="Einhasad Temple" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
</table><br>
<img src="L2UI.SquareWhite" width=260 height=1>
<img src="L2UI.SquareBlank" width=260 height=4>

[admin_show_html tele/towns/towns.htm|<button value="Back" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>