<img src="L2UI_CH3.herotower_deco" width=256 height=32><br>
<font color="aadd77">Talking Island Village</font>
<img src="L2UI.SquareWhite" width=260 height=1>
<img src="L2UI.SquareBlank" width=260 height=4><br1>
<table width=256>
<tr><td><center>[admin_move_to -82687 243157 -3734|<button value="Broadcasting Tower / Center" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -86475 242946 -3726|<button value="Weapons and Armor Shop" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -84165 240670 -3724|<button value="Grocery Shop" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -84981 242677 -3734|<button value="Blacksmith Shop" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -81785 243664 -3720|<button value="Warehouse" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -83159 242858 -3726|<button value="Warrior Guild" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -84626 245314 -3731|<button value="Einhasad Temple" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
<tr><td><center>[admin_move_to -96806 259436 -3649|<button value="Harbor" width=180 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>
</table><br>
<img src="L2UI.SquareWhite" width=260 height=1>
<img src="L2UI.SquareBlank" width=260 height=4>

[admin_show_html tele/towns/towns.htm|<button value="Back" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]</center></td></tr>