!Rafforty:

Задача нашей гильдии вернуть Королеву Freya в прежнее состояние. 
Сначала мы должны уничтожить Ice Fairy Sirra, которая является серьезным препятсвием между нами и нашей Королевой.

Если хотите присоединиться к нам, поговорите со <font color="LEVEL">Steward</font> в <font color="LEVEL">Ice Queen's Castle</font>.
И не забудьте привести с собой друзей! Когда пойдете, возьмите с собой <font color="LEVEL">10 Silver Hemocytes</font> для него.