<title>Перезагрузка Конфигов</title>
<table width=260>
	<tr>
		<td width=40>
<button value="Главная" action="bypass -h admin_admin" width=60 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
		<td width=180></td>
		<td width=40>
<button value="Назад" action="bypass -h admin_server admserver.htm" width=60 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
		</td>
	</tr>
</table>

<center>Выбераем имя конфигурации и перезагружаем.</center>
<center><table width=240>
	<tr>
		<td>Имя:</td>
		<td><edit var="name" width=120 height=18></td>
		<td><button value="Reload" action="bypass -h admin_reload_conf $name" width=55 height=18 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
	</tr>
</table></center><br>

<center>Перезагрузка Конфигов:</center>
<center>
	<table width=340>
		<tr><td>[admin_reload_conf ai.ini|ai.ini]</td><td>[admin_reload_conf alternative.ini|alternative.ini]</td></tr>
		<tr><td>[admin_reload_conf chat.commands.iniini|chat.ini]</td><td>[admin_reload_conf clan.ini|clan.ini]</td></tr>
		<tr><td>[admin_reload_conf boss.ini|boss.ini]</td><td>[admin_reload_conf community_board.ini|community_board.ini]</td></tr>
		<tr><td>[admin_reload_conf developer.ini|developer.ini(нет)]</td><td>[admin_reload_conf events.ini|events.ini]</td></tr>
		<tr><td>[admin_reload_conf fame.ini|fame.ini]</td><td>[admin_reload_conf gameserver.ini|gameserver.ini]</td></tr>
		<tr><td>[admin_reload_conf enchant.ini|enchant.ini]</td><td>[admin_reload_conf olympiad_option.ini|olympiad_option.ini]</td></tr>
		<tr><td>[admin_reload_conf other.ini|other.ini]</td><td>[admin_reload_conf rate.ini|rate.ini]</td></tr>
		<tr><td>[admin_reload_conf services.ini|services.ini]</td><td>[admin_reload_conf spoil.ini|spoil.ini]</td></tr>
		<tr><td>[admin_reload_conf walker.ini|walker.ini(нет)]</td><td>[admin_reload_conf skills.ini|skills.ini]</td></tr>
		<tr><td>[admin_reload_conf protection.ini|protection.ini]</td><td>[admin_reload_conf vitality.ini|vitality.ini]</td></tr>
		<tr><td>[admin_reload_conf vipchar.ini|vipchar.ini(нет)]</td><td>[admin_reload_conf l2system.ini|l2system.ini]</td></tr>
		<tr><td>[admin_reload_conf champion.ini|champion.ini]</td><td>[admin_reload_conf hellbound.ini|hellbound.ini]</td></tr>
		<tr><td>[admin_reload_conf instances.ini|instances.ini]</td><td>[admin_reload_conf geodata.ini|geodata.ini]</td></tr>
		<tr><td>[admin_reload_conf siege.ini|siege.ini]</td><td>[admin_reload_conf karma.ini|karma.ini]</td></tr>
		<tr><td>[admin_reload_conf commands.ini|commands.ini]</td><td>[admin_reload_conf residence.ini|residence.ini]</td></tr>
		<tr><td>[admin_reload_conf wedding.ini|wedding.ini]</td><td>[admin_reload_conf manor.ini|manor.ini]</td></tr>
	</table>
</center>
