<center>Изменить NPC</center>
<table width=280>
<tr><td>*Внимание*</td></tr>
<tr><td>Не забывайте, что изменение информаци о NPC может нарушить игру.</td></tr>
<tr><td>Примечание: только тип значения модификаций.</td></tr>
</table>
<table>
<tr>
<td width=200><br><br>Имя NPC: %NpcName%<br></td>
</tr>
</table>
<table>
<tr>
<td>Тип (%Type%):<edit var="Type" width=100></td>
<td width=75></td>
<td>&nbsp;<button value="Сохранить" action="bypass -h admin_save_npc id %NpcId% , CollisionRadius $CollisionRadius , CollisionHeight $CollisionHeight , Level $Level , Sex $Sex , Type $Type , AttackRange $AttackRange , MaxHp $MaxHp , MaxBaseMp $MaxBaseMp , Exp $Exp , Sp $Sp , Patk $Patk , Pdef $Pdef , Matk $Matk , Mdef $Mdef , Atkspd $Atkspd , Agro $Agro , Matkspd $Matkspd , Rhand $Rhand , Lhand $Lhand , Armor $Armor , WalkSpeed $WalkSpeed , RunSpeed $RunSpeed" width=80 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
</tr>
</table>
<br>
<table width=280>
<tr><td>
Radius (%CollisionRadius%):<edit var="CollisionRadius" width=80>	
Height (%CollisionHeight%):<edit var="CollisionHeight" width=80>			
Level (%Level%):<edit var="Level" width=80>	
Sex (%Sex%):<edit var="Sex" width=80>	
Atk-Range (%AttackRange%):<edit var="AttackRange" width=80>
Max-Hp (%MaxHp%):<edit var="MaxHp" width=80>
Max-Mp (%MaxBaseMp%):<edit var="MaxBaseMp" width=80>
</td><td>
Exp (%Exp%):<edit var="Exp" width=80>
SP (%Sp%):<edit var="Sp" width=80>	
P-Atk (%Patk%):<edit var="Patk" width=80>
P-Def (%Pdef%):<edit var="Pdef" width=80>	
M-Atk (%Matk%):<edit var="Matk" width=80>
M-Def (%Mdef%):<edit var="Mdef" width=80>	
Atk-speed (%Atkspd%):<edit var="Atkspd" width=80>
</td><td>
Agro (%Agro%):<edit var="Agro" width=80>
M-Atk-Spd (%Matkspd%):<edit var="Matkspd" width=80>
R-Hand (%Rhand%):<edit var="Rhand" width=80>
L-Hand (%Lhand%):<edit var="Lhand" width=80>
Armor (%Armor%):<edit var="Armor" width=80>
Walk-Spd (%WalkSpeed%):<edit var="WalkSpeed" width=80>
Run-Spd (%RunSpeed%):<edit var="RunSpeed" width=80>
</td></tr>
</table>
