﻿!Управляющий складом в замке Глудио:

*Частное хранилище:*

<center>
[npc_%objectId%_DepositP|Положить вещь]

[npc_%objectId%_WithdrawP 0|Забрать вещь (Весь список)]

[npc_%objectId%_WithdrawP 9|Забрать вещь (Выборка)]
</center>

*Клановое хранилище:*

<center>
[npc_%objectId%_DepositC|Положить вещь]

[npc_%objectId%_WithdrawC 0|Забрать вещь (Весь список)]

[npc_%objectId%_WithdrawC 9|Забрать вещь (Выборка)]
</center>