!Guard Weisz:

You must recover <font color="LEVEL">30 Cargo Boxes belonging to the trade guild</font> from the <font color="LEVEL">felim lizardmen.</font> They can be found at the Fellmere Harvest Grounds between the Ruins of Agony and Windy Hill. Go and destroy those filthy reptiles and restore peace to the village!
