!Королева Сердец, Посланник Валентина:

Мяу ~ Это награда для человека, получающего подарок.<br>
Если вы берете на себя заклинаний Валентина секретно и собирать конфеты и свежие сливки, вы можете сделать специальный торт Валентина. Первый торт, который Вы делаете, будут, вероятно, выглядеть потертыми. Но с небольшим усилием, вы можете превратить его в большой пирог.<br>
Во-первых, <font color="LEVEL">Простой торт Валентина</font> - Свиток Трансформации, лечебное зелье, обыкновенные Торт Валентина<br>
Во-вторых, <font color="LEVEL">Бархатистой Торт Валентина</font> - Броня Свиток чар, Благословенный Свиток о возвращении, Благословенный Свиток Воскрешения, 3 Энергетический День Агатиона Любви, вкусный торт Валентина<br>
В-третьих, <font color="LEVEL">Восхитительный Торт Валентина</font> - Свиток чар для оружия, 7 Энергетический День Агатиона Любви, идеальный торт Валентина<br>
В-четвертых, <font color="LEVEL">Декадентской торт Валентина</font> - Топ-класс брони Свиток чар, 15 Энергетический День Агатиона Любви, 30 Энергетический День Агатиона Любви<br><br>

[npc_%objectId%_Chat 0|К началу]