<title>Перезагрузка Скриптов</title>
<table width=260>
<tr>
<td width=40>
<button value="Главная" action="bypass -h admin_admin" width=60 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
</td>
<td width=180>
<center>Перезагрузка Скриптов</center>
</td>
<td width=40>
<button value="Назад" action="bypass -h admin_server admserver.htm" width=60 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
</td>
</tr>
</table>
<center><font color="ff0000">НЕ ИСПОЛЬЗОВАТЬ НА РАБОЧЕМ СЕРВЕРЕ</font></center><br1>
<center>
[admin_sreload all|<button value="Reload All Scripts" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]

[admin_sreload actions|<button value="Reload Actions" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]

[admin_sreload commands|<button value="Reload Commands" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]

[admin_sreload events|<button value="Reload Events" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]

[admin_sreload items|<button value="Reload Items" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]

[admin_sreload npc|<button value="Reload Npc" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]

[admin_sreload services|<button value="Reload Services" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]

[admin_sreload $Scriptsname|<button value="Reload Script" width=130 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">]<br>
<edit var="Scriptsname" width=150 height=15></center>
