<title>Спавн монстров меню</title>
<center>
<table width=260>
<tr>
<td width=40>
<button value="Main" action="bypass -h admin_admin" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
</td>
<td width=180>
</td>
<td width=40>
<button value="Back" action="bypass -h admin_admin" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df">
</td>
</tr>
</table>
<br><br>
Спавн монстров id:
<table>
<tr>
<td>ID: <edit var="id" width=60></td><td>&nbsp;<button value="Spawn" action="bypass -h admin_spawn_monster $id" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
</tr>
</table>
<br><br>
Спавн по уровенью:
<table width=240>
<tr><td>[admin_spawn_index 1|Level 1]</td><td>[admin_spawn_index 21|Level 21]</td><td>[admin_spawn_index 41|Level 41]</td><td>[admin_spawn_index 61|Level 61]</td></tr>
<tr><td>[admin_spawn_index 2|Level 2]</td><td>[admin_spawn_index 22|Level 22]</td><td>[admin_spawn_index 42|Level 42]</td><td>[admin_spawn_index 62|Level 62]</td></tr>
<tr><td>[admin_spawn_index 3|Level 3]</td><td>[admin_spawn_index 23|Level 23]</td><td>[admin_spawn_index 43|Level 43]</td><td>[admin_spawn_index 63|Level 63]</td></tr>
<tr><td>[admin_spawn_index 4|Level 4]</td><td>[admin_spawn_index 24|Level 24]</td><td>[admin_spawn_index 44|Level 44]</td><td>[admin_spawn_index 64|Level 64]</td></tr>
<tr><td>[admin_spawn_index 5|Level 5]</td><td>[admin_spawn_index 25|Level 25]</td><td>[admin_spawn_index 45|Level 45]</td><td>[admin_spawn_index 65|Level 65]</td></tr>
<tr><td>[admin_spawn_index 6|Level 6]</td><td>[admin_spawn_index 26|Level 26]</td><td>[admin_spawn_index 46|Level 46]</td><td>[admin_spawn_index 66|Level 66]</td></tr>
<tr><td>[admin_spawn_index 7|Level 7]</td><td>[admin_spawn_index 27|Level 27]</td><td>[admin_spawn_index 47|Level 47]</td><td>[admin_spawn_index 67|Level 67]</td></tr>
<tr><td>[admin_spawn_index 8|Level 8]</td><td>[admin_spawn_index 28|Level 28]</td><td>[admin_spawn_index 48|Level 48]</td><td>[admin_spawn_index 68|Level 68]</td></tr>
<tr><td>[admin_spawn_index 9|Level 9]</td><td>[admin_spawn_index 29|Level 29]</td><td>[admin_spawn_index 49|Level 49]</td><td>[admin_spawn_index 69|Level 69]</td></tr>
<tr><td>[admin_spawn_index 10|Level 10]</td><td>[admin_spawn_index 30|Level 30]</td><td>[admin_spawn_index 50|Level 50]</td><td>[admin_spawn_index 70|Level 70]</td></tr>
<tr><td>[admin_spawn_index 11|Level 11]</td><td>[admin_spawn_index 31|Level 31]</td><td>[admin_spawn_index 51|Level 51]</td><td>[admin_spawn_index 71|Level 71]</td></tr>
<tr><td>[admin_spawn_index 12|Level 12]</td><td>[admin_spawn_index 32|Level 32]</td><td>[admin_spawn_index 52|Level 52]</td><td>[admin_spawn_index 72|Level 72]</td></tr>
<tr><td>[admin_spawn_index 13|Level 13]</td><td>[admin_spawn_index 33|Level 33]</td><td>[admin_spawn_index 53|Level 53]</td><td>[admin_spawn_index 73|Level 73]</td></tr>
<tr><td>[admin_spawn_index 14|Level 14]</td><td>[admin_spawn_index 34|Level 34]</td><td>[admin_spawn_index 54|Level 54]</td><td>[admin_spawn_index 74|Level 74]</td></tr>
<tr><td>[admin_spawn_index 15|Level 15]</td><td>[admin_spawn_index 35|Level 35]</td><td>[admin_spawn_index 55|Level 55]</td><td>[admin_spawn_index 75|Level 75]</td></tr>
<tr><td>[admin_spawn_index 16|Level 16]</td><td>[admin_spawn_index 36|Level 36]</td><td>[admin_spawn_index 56|Level 56]</td><td>[admin_spawn_index 76|Level 76]</td></tr>
<tr><td>[admin_spawn_index 17|Level 17]</td><td>[admin_spawn_index 37|Level 37]</td><td>[admin_spawn_index 57|Level 57]</td><td>[admin_spawn_index 77|Level 77]</td></tr>
<tr><td>[admin_spawn_index 18|Level 18]</td><td>[admin_spawn_index 38|Level 38]</td><td>[admin_spawn_index 58|Level 58]</td><td>[admin_spawn_index 78|Level 78]</td></tr>
<tr><td>[admin_spawn_index 19|Level 19]</td><td>[admin_spawn_index 39|Level 39]</td><td>[admin_spawn_index 59|Level 59]</td><td>[admin_spawn_index 79|Level 79]</td></tr>
<tr><td>[admin_spawn_index 20|Level 20]</td><td>[admin_spawn_index 40|Level 40]</td><td>[admin_spawn_index 60|Level 60]</td><td>[admin_spawn_index 80|Level 80]</td></tr>
</table>
</center>
